# Database
MONGODB_URI=mongodb+srv://manideepmasna1_db_user:Manideep%40Cogniva@cluster0.yjd2l8k.mongodb.net/
NODE_ENV=development

# Server
PORT=8000
HOST=localhost

# Ollama
OLLAMA_API_URL=http://localhost:11434
OLLAMA_MODEL=phi

# JWT Authentication
JWT_SECRET=Vc>{{Klv=oU8|(2L#0RXZ-.#Yx5r,s5QByp?g&wnkIA)!?6={^O:VA!/O72/[;Ep
JWT_EXPIRY=7d

# CORS
CORS_ORIGIN=http://localhost:5173
